/* Google Fonts */


.inter-font-style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Code */

.header-background{
    background-color: #1A0B2E;
}

.btn-pirmary{
    width: 135px; 
    height:  44px;
    border-radius: 30px;
    background: linear-gradient(24deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
}

/* Hero section */

.hero{
    background: url('./assets/hero-bg.png');
    width: 100%;
    height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-logo{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.hero-container{
    text-align: center;
}

/* About section */

.about-container{
    background-color: #1A0B2E;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

.about-container h2{
    color: white;
}

