/* Google Fonts */


.inter-font-style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Code */

.header-background{
    background-color: #1A0B2E;
}

.btn-pirmary{
    width: 135px; 
    height:  44px;
    border-radius: 30px;
    background: linear-gradient(24deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
}

.section-heading{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 120px;
}

.section-content-heading{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}
.section-content-text{
    font-size: 16px;
    color: rgba(255, 255, 255, .50);
}
/* Hero section */

.hero{
    background: url('./assets/hero-bg.png');
    width: 100%;
    height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Choose Section */

.choose-container{
    width: 1600px;
    height: 1180px;
    background-color: #230E3D;
    margin: 0 auto;
}

.choose-items-container{
    width: 1200px;
    margin: 0 auto;
}
.box{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
/* About section */

.about-container{
    background-color: #1A0B2E;
    text-align: center;
    width: 1600px;
    margin: 0 auto;
}

.about-container-items p{
    line-height: 40px;
}
.about-container hr{
    max-width: 1200px;
    margin: 0 auto;
}

.about-container h2{
    color: white;
}

/* Features Section */

.listeners-container{
    padding-top: 80px;
    padding-bottom: 120px;
    max-width: 1200px;
    margin: 0 auto;
}

.listeners{
    color: #00FF88;
    font-size: 48px;
    font-weight: bold;
}

.listeners-text{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
}
.features, .about-container-items{
    width: 1200px;
    margin: 0 auto;
}

.feature-item{
    background-color: #250D44;
    border-radius: 30px;
    padding: 24px;
}
/* Host Section */
.host-container{
    background-color: #1A0B2E;
    width: 1600px;
    height: 1276px;
    margin: 0 auto;
}

.host-title{
    font-size: 32px;
    color: #FFFFFF;
    font-weight: bold;
}

.host-content{
    margin-left: 20px;
}

.host-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer section */

.footer-container{
    background: url(./assets/footer-bg.png);
    width: 100%;
    height: 412px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.footer-contents{
    display: flex;
    justify-content: center;
    align-items: center; 
}

